.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-page-get-name{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-page-ask{
    font-size: 33pt;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing :-1px;
}
.login-here{
    width:620px;
    height: 60px;
    margin-bottom: 30px;
    border-style: none;
    border-bottom: 2.5px solid white;
    font-size: 35pt;
    color:white;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
}
.login-page-btn{
    border-style: none;
    width:130px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    font-size: 10pt;
    color:white;
    font-weight: 400;
}