@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import "setting/reset.css";
@import "setting/variable.css";
@import "login.css";

body{
    font-family: 'Roboto', sans-serif;
    color:white;
}
.backgrounds{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.home-page{
    width:100vw;
    height: 100vh;
    padding:18px;
    box-sizing: border-box;
    position:absolute;
    top:0;     
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-page-top-area, .home-page-bottom-area{
    width:100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
}
.home-page-bottom-area{
    justify-content: center;
    align-items: center;
}
.home-page-middle-area{
    width:100%;
    height: 400px;
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*focus today*/
.focus-today{
    height:90px;
}
.focus-today-ask{
    font-size: 25pt;
    margin-bottom: 10px;
    letter-spacing :-1px;
}
.focus-today-here{
    width:400px;
    height: 50px;
    border-style: none;
    border-bottom: 2.5px solid white;
    font-size: 28pt;
    color:white;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
    letter-spacing :-1px;
}
.focus-today-sm-font{
    font-size: 17pt;
}
.focus-today span{
    font-size: 28pt;
    font-weight: 500;
}

/*search*/
.search-wrap{
    position: relative;
}
.search-btn{
    position:absolute;
    top:5px;
    left:0;
    border-style: none;
    background-color: transparent;
    color:white;
}
.search-write{
    position:absolute;
    top:0;
    left:0;
    width: 200px;
    border-style: none;
    border-bottom: 2.5px solid white;
    background-color: transparent;
    color: white;
    font-size: 13pt;
    font-weight: 500;
    padding: 5px;
    padding-left: 33px;
    box-sizing: border-box;
    opacity: 0;
}
.search-write:hover{
    opacity: 50%;
}
.search-write:focus{
    opacity: 100%;
}
.search-write::placeholder {
    color: gray;
  }

/*clock*/
.clock{
    width:600px;
    height: 180px;
    font-size: 100pt;
    line-height: 170px;
    font-weight: 500;
    letter-spacing: -1px;
}

/*greeting*/
.greeting{
    height: 70px;
    margin-bottom: 50px;
    font-size: 35pt;
    font-weight: 500;
    letter-spacing: -1px;
}

.page-hidden{
    display: none;
}

/*weather*/
.top-area-weather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.weather-icon, .weather-geo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}
.weather-icon img{
    width: 40px;
    height: 40px;
    order:-1;
    margin-top: -6px;
}
.weather-geo-temperature{
    font-size: 20pt;
    margin-bottom: 7px;
    letter-spacing :-1px;
}
.weather-icon-text, .weather-geo-location{
    font-size: 10pt;
}

/*quote*/
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.quote-content{
    font-size: 12pt;
    margin-top: 17px;
}
.quote-author{
    font-size: 10pt;
    line-height: 35px;
    color:gray;
    margin-top: -5px;
}

/*todo list*/
h6{
    cursor:pointer;
}
.todo{
    position:relative;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.todo-wrap{
    background-color:white;
    border-radius: 5px;
    position:absolute;
    width: 320px;
    bottom: 50px;
    right: 0px;
    padding: 20px;
    box-sizing: border-box;
    color: black;
}
.todo-wrap-title{
    margin-bottom: 15px;
    font-size: 15pt;
}
.todo-wrap-write-here{
    border-style: none;
    font-size: 12pt;
    opacity: 50%;
    width:90%;
}
.todo-wrap-btn{
    border-style: none;
    background-color: white;
    margin-top: 10px;
}
.todo-wrap-list{
    height: auto;
    max-height: 300px;
    overflow: scroll;
}
.todo-wrap-list li{
    display: flex;
    
}
.todo-wrap-list li span{
    display: block;
    line-height: 23px;
    width:80%;
}
.todo-wrap-list input{
    display: block;
    margin-right: 10px;
}
.todo-wrap-list div{
    margin-left: 5px;
    margin-top: 3px;
    font-size: 6pt;
    border-radius: 20px;
    width:20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
}
.todo-wrap-list div:hover{
    background-color:rgb(230, 230, 230);
    color:rgb(150, 150, 150);
    transition-duration: 0.5s;
}

/*source*/
.source{
    font-size: 0.5vw;
    opacity: 50%;
    line-height: 15px;
    width: 20%;
}